/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body,
html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #222;
    background-color: #eee;
}



a {
    font-weight: 700;
    color: #23a4cc;
    text-decoration: none;
}

p {
    font-size: 1em;
    line-height: 1.4;
}

img {
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

h1 {
    font-size: 1.5em;
    line-height: 1.6;
}

h2 {
    font-size: 1em;
}

figure {
    margin: 0;
}

.btn {
    color: #fff;
    background-color: #b21e49;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.5;
    text-align: center;
    box-shadow: 2px 2px 0 #bbb;
    width: 100%;
    height: 2.5em;
    display: block;
}

input.btn {
    background-color: #ff1256;
    box-shadow: 2px 2px 0 #d19aaa;
}

.last-item {
    border-bottom: none !important;
}

/* HEADER  ========================================== */

.main-header {
    width: 100%;
    margin: auto;
    background-color: #ddd;
}

.logo {
    width: 100%;
    margin: 0 auto;
}

.logo img {
    width: 100%;
    margin: auto;
}

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 20px 0;
}

nav i {
    padding-right: 10px;
}

nav ul li a {
    font-size: 1.125em;
    text-transform: uppercase;
    color: #222;
}

/* MAIN CONTENT  ==================================== */

main {
    width: 96%;
    padding: 0 2%;
    margin: auto;
    clear: both;
    max-width: 960px;
}

/* FEATURED NEWS ITEMS  ============================= */

.top-story {
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.top-img {
    width: 100%;
    margin: 0;
}

.top-img img {
    width: 100%;
    padding-top: 10px;
}

/* SIDEBAR  ========================================= */

.sidebar {
    width: 100%;
}

.sidebar-newsletter {
    border-bottom: 1px solid #ccc;
    padding: 0 10px 20px 10px;
}

.sidebar-newsletter input {
    width: 100%;
    box-sizing: border-box;
}

.sidebar-newsletter input[type="text"] {
    margin-bottom: 10px;
    padding: 5px 0;
    border: 2px solid #e6e6e6;
    line-height: 1.6125;
}

.sidebar-about-us,
.sidebar-faq {
    display: none;
}

/* NEWS FEED  ======================================= */

.feed {
    width: 100%;
}

.feed p {
    display: none;
}

.feed-item {
    clear: both;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.feed-type {
    text-transform: uppercase;
    font-size: .8em;
}

.feed-item h2 {
    margin: 0;
}

.feed-item h2 a {
    color: #222;
}

.feed-img {
    width: 45%;
    float: left;
    margin: 0;
    padding-right: 3%;
}

/* ABOUT PAGE  ====================================== */

.contact-info {
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    display: inline-block;
    vertical-align: top;
}

.strong {
    font-weight: 700;
}

.map-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mission {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.team h1 {
    margin-bottom: 0;
}

.team-member {
    padding: 15px 0;
    clear: both;
}

.team-name {
    margin: 0;
}

.team-name h2 {
    font-size: 1.25em;

}
.team-title {
    margin: 0;
}

.team-img {
    width: 40%;
    padding-bottom: 40%;
    float: left;
    margin-right: 20px;
    border: 1px solid #ccc;
}


.team-description {
    display: none;
}

#team-img-jack {
    background: url("../img/team-jack-smith.jpg") center no-repeat;
    background-size: cover;
}

#team-img-lana {
    background: url("../img/team-lana-walter.jpg") center no-repeat;
    background-size: cover;
}

#team-img-willow {
    background: url("../img/team-willow-white.jpg") center no-repeat;
    background-size: cover;
}

/* FAQ PAGE  ======================================== */

.faq-item {
    border-bottom: 1px solid #ccc;
}

.faq-item h3 {
    font-weight: 400;
}

.faq-item .last-item {
    border-bottom: none;
}

/* FOOTER  ========================================== */

footer {
    width: 100%;
    margin: auto;
    clear: both;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
}

.footer-logo {
    width: 47.5%;
    margin: auto;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
    /* TABLETS GO HAW ============================== */

    main {
        margin: none;
    }
    /* HEADER =========================== */
    .main-header {
        width: 100%;
        margin: auto;
        background-color: #ddd;
    }

    .main-header .main-wrapper {
        width: 94%;
        max-width: 960px;
        margin: 0 auto;
    }

    .logo {
        width: 40%;
        float: left;
    }

    .logo img {
        max-width: 312px;
    }

    nav {
        width: 57%;
        float: left;
    }

    nav ul {
        margin: 0;
        padding: 40px 0;
        text-align: center;
    }

    nav ul li {
        display: inline;
        padding: 0 2%;
        border: none;
        position: relative;
    }

    /* TOP NEWS ITEM ===================== */

    .top-story {
        width: 100%;
        padding-top: 40px;
        padding-bottom: 30px;
    }  

    .top-story h1 {
        margin: 0;
        line-height: 1.2;
    }

    .top-img {
        width: 59%;
        float: left;
        padding-right: 4%;
    }

    .top-img img {
        padding-top: 0;
    }

    .top-info {
        width: 40%;
        float: left;
    }

    /* SIDEBAR =========================== */

    .sidebar {
        clear: both;
        width: 37%;
        float: right;
    }

    .sidebar-about-us,
    .sidebar-faq {
        padding: 0 10px 20px 10px;
        display: block;
        border-bottom: 1px solid #ccc;
    }

    .sidebar-about-us i,
    .sidebar-faq i {
        padding-right: 10px;
    }

    /* NEWS FEED SECTION ================== */

    .feed {
        width: 60%;
        float: left;
        border-right: 1px solid #ccc;
    }

    .feed h2 {
        font-size: 1.125em;
    }

    .feed-img {
        width: 35%;
    }

    .feed-item {
        padding-right: 20px;
    }

    .feed-info {
        width: 57%;
    }

    /* ABOUT PAGE ========================= */

    .contact-info {
        width: 40%;
        float: left;
        border-bottom: none;
    }

    .map-container {
        position: relative;
        padding-bottom: 40%;
        height: 0;
        overflow: hidden;
        width: 56%;
        float: left;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    .map-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .mission {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10;
        clear: both;
    }

    .mission h1 {
        padding: 15px 0;
        margin: 0;
    }

    .mission p {
        padding-bottom: 15px;
        margin: 0;
    }

    .team-img {
        width: 40%;
        padding-bottom: 40%;
    }

    #team-img-jack {
        background: url("../img/team-jack-smith.jpg") center no-repeat;
        background-size: cover;
    }

    #team-img-lana {
        background: url("../img/team-lana-walter.jpg") center no-repeat;
        background-size: cover;
    }

    #team-img-willow {
        background: url("../img/team-willow-white.jpg") center no-repeat;
        background-size: cover;
    }

    /* FAQ ================================ */

    nav.faq-header {
        background-color: #ddd;
    }

    h1.faq-header {
        padding-top: 20px;
    }

    /* FOOTER ============================= */

    .footer-logo {
        width: 30%;
        margin: auto;
    }
}


@media only screen and (min-width: 940px) {
    /* DESKTOP GO HAW ============================== */

    h1 {
        font-size: 2em;
        line-height: 1.6;
    }

    h2 {
        font-size: 1.4em;
    }

    .logo {
        padding-left: 2%;
    }
    /* MAIN NEWS CONTENT ================== */

    .top-story {
        width: 67.5%;
        float: left;
        border: none;
        padding-right: 2%;
    }

    .top-img {
        width: 100%;
        padding-bottom: 30px;
    }

    .top-img img {
        max-width: 620px;
    }

    .top-info {
        width: 100%;
        float: none;
    }

    /* SIDEBAR ============================ */
    
    .sidebar {
        clear: none;
        width: 30%;
        float: right;
        border-left: 1px solid #ccc;
        padding-top: 15px;
    }

    .sidebar-newsletter,
    .sidebar-about-us,
    .sidebar-faq {
        padding: 0 20px 20px 20px;
    }

    .sidebar-faq {
        border: none;
    }

    /* NEWS AND FEED  ===================== */
    
    .feed {
        width: 100%;
        float: none;
        clear: both;
        padding-top: 20px;
        border-top: 1px solid #ccc;
        border-right: none;
    }

    .feed p {
        display: block;
        margin-top: 0;
    }

    .feed h2 {
        margin: 0;
    }

    .feed-img {
        width: 20%;
    }

    /* ABOUT PAGE ========================= */
    
    .contact-info {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .mission {
        padding-bottom: 25px;
    }

    .team-description {
        display: block;
    }

    /* FOOTER ============================= */
    
    .footer-logo {
        width: 20%;
    }
}




@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
